@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@model TrashCollectorProject.Models.Customer

@{
    ViewBag.Title = "Index";
}

<br />

<h2>My Information</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempSuspendStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempSuspendEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Street)
        </td>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.State)
        </td>
        <td>
            @Html.DisplayFor(model => model.Zip)
        </td>
        <td>
            @Html.DisplayFor(model => model.Day.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.ExtraPickup)
        </td>
        <td>
            @Html.DisplayFor(model => model.TempSuspendStart)
        </td>
        <td>
            @Html.DisplayFor(model => model.TempSuspendEnd)
        </td>
        <td>
            @Html.DisplayFor(model => model.Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </td>
        <td></td>
    </tr>
</table>
